<!-- Footer -->
<!--footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright <script>document.write(new Date().getFullYear())</script> &copy; Sistema de Gestión de Terrenos Bruno Racua 2019</span>
        </div>
    </div>
</footer-->

<footer class="card-footer my-auto">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Ajerhy Inc
    </div>
    <!-- Default to the left -->
    Todos los derechos reservados
    <strong>Copyright &copy;<script>document.write(new Date().getFullYear())</script></strong>
    | Sistema de Gestión de Terrenos Bruno Racua.
</footer>
<!-- End of Footer -->

<!--footer class="card-footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright <script>document.write(new Date().getFullYear())</script> &copy; Sistema de Gestión de Terrenos Bruno Racua 2019</span>
        </div>
    </div>
</footer-->