{% load staticfiles %}
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'usuario:index' %}" data-toggle="tooltip" data-placement="bottom" title="SEGETE-BR">
        <div class="sidebar-brand-icon rotate-n-15">

            <img src="{% static 'favicon.ico' %}"  alt="Imagen de usuario" height="40" width="40" class="img-profile rounded-circle" />

            <!--i class="fas fa-house-damage"></i-->
            <!--i class="fas fa-laugh-wink"></i-->
        </div>
        <div class="sidebar-brand-text mx-3">SIGETE<sup>BR</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'usuario:dashboard' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Contrato -->
      <div class="sidebar-heading">
        Pago
      </div>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Pagares" aria-expanded="true" aria-controls="Pagares">
          <i class="fas fa-money-check-alt"></i>
          <span>Pagar</span>
        </a>
        <div id="Pagares" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Gestion Cobranza:</h6>
            <a class="collapse-item" href="#">Pagar</a>
            <a class="collapse-item" href="#">Cobrar</a>
          </div>
        </div>
      </li>



      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Contrato -->
      <div class="sidebar-heading">
        Compra
      </div>

      <!-- Nav Item - Contrato -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fa fa-file nav-icon"></i>
          <span>Contrato</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Gestion Contratos:</h6>

              <a class="collapse-item" href="{% url 'contrato:listar_contrato' %}">Contratos</a>
              <a class="collapse-item" href="{% url 'contrato:listar_cliente' %}">Clientes</a>

              <a class="collapse-item" href="{% url 'contrato:listar_persona' %}">Personas</a>
              <a class="collapse-item" href="{% url 'contrato:listar_movil' %}">Moviles</a>
              <a class="collapse-item" href="{% url 'contrato:listar_grupo' %}">Grupos</a>
          </div>
        </div>
      </li>


      <!-- Nav Item - Terreno -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fa fa-cube nav-icon"></i>
          <span>Terreno</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Gestion de Terrenos:</h6>

            <a class="collapse-item" href="{% url 'terreno:listar_ubicacion' %}">Ubicacion</a>
            <a class="collapse-item" href="{% url 'terreno:listar_manzano' %}">Manzanos</a>
            <a class="collapse-item" href="{% url 'terreno:listar_distrito' %}">Distritos</a>
            <a class="collapse-item" href="{% url 'terreno:listar_lote' %}">Lotes</a>
            <a class="collapse-item" href="{% url 'terreno:listar_medida' %}">Medidas</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Informacion
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
        {%  if user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>Configuracion</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Gestion de Cuenta:</h6>

            <a class="collapse-item" href="{% url 'contrato:listar_cuenta'  %}">Cuentas</a>
            <a class="collapse-item" href="{% url 'contrato:listar_banco'  %}">Bancos</a>
            <a class="collapse-item" href="{% url 'contrato:listar_moneda'  %}">Monedas</a>
            <div class="collapse-divider"></div>

            <h6 class="collapse-header">Gestion de Usuarios</h6>
              <a class="collapse-item" href="{% url 'usuario:listar_usuario'  %}">Usuarios</a>
              <a class="collapse-item" href="{% url 'usuario:listar_perfil'  %}">Perfiles</a>

              <h6 class="collapse-header">Gestion de Juridica</h6>
              <a class="collapse-item" href="{% url 'contrato:listar_notario'  %}">Notario</a>
              <a class="collapse-item" href="{% url 'contrato:listar_propietario'  %}">Propietario</a>


          </div>
        </div>
      </li>
        {% endif %}

      <!-- Nav Item - Urbanizacion -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contrato:listar_urbanizacion'  %}">
            <!--i class="fas fa-house-damage"></i-->
            <i class="fas fa-home"></i>
            <span>Urbanizacion</span></a>
      </li>

      <!--
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Tables</span></a>
      </li>
      -->

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->