<div class="modal-dialog" role="document">
    <div class="modal-content">

        <form method="POST" role="form" class="form-inline" action="{% url 'cooperativa:eliminar_cuenta' obj_cuenta.pk %}" >
            {% csrf_token %}

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel">
                    ¿Eliminar Usuario <mark> {{ obj_cuenta.numerocuenta }} </mark> ?
                </h5>
            </div>

            <div class="modal-body">
                <div class="text-xs font-weight-bold text-uppercase">¿Eliminar {{ obj_cuenta.numerocuenta }}?</div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="return cerrar_modal()" data-dismiss="modal">Cancelar</button>

                <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i>Si, Eliminar</button>
            </div>

        </form>

    </div>
</div>