{% for distritos in list_distrito %}
    <tr class="h-6">
        <td>{{ forloop.counter}}</td>
        <td>{{ distritos.numerodistrito }}</td>
        <td>{{ distritos.nombredistrito|default_if_none:"" }}</td>
        <td>{{ distritos.sigladistrito|default_if_none:"" }}</td>

        <td class="text-center">
            {% if distritos.estado %}
                <span class="right badge badge-success">Activo</span>
            {% else %}
                <span class="right badge badge-danger">Inactivo</span>
            {% endif %}
        </td>

        <td class="text-center">
            <div class="btn-group btn-group-xs">
                <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" title="Opciones" aria-expanded="false">
                    Opciones
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
{% endfor %}