{% extends "index.html" %}
{% load staticfiles %}

{% block title %}
    {% if obj_banco %} Editar {% else %} Crear {% endif %} Banco
{% endblock title %}

{% block page-title %}
    <h4 class="pull-left page-title">{% if obj_banco %} Editar {% else %} Crear {% endif %} Banco</h4>

    <ol class="breadcrumb pull-right">
        <li class="active"> Bancos </li>
        <li class="active"><a href="{% url 'cooperativa:listar_banco' %}"> Listar Banco </a></li>
        <li class="active"><a href="{% url 'usuarios:dashboard' %}"><i class="md fa fa-lastfm-square"></i> Inicio </a></li>
    </ol>
{% endblock page-title %}