{% extends "base/base.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <!-- Custom fonts for this template-->
    <link href="{% static  'base/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static  'base/css/sb-admin-2.min.css' %}" rel="stylesheet">

   <!-- Custom styles for this page -->
   <link href="{% static 'base/vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">

   <!-- jQuery Confirm -->
  <link rel="stylesheet" href="{% static 'base/vendor/jquery_confirm/jquery-confirm.min.css' %}">

  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />

{% endblock css %}

{% block js %}
  <!-- Bootstrap core JavaScript-->
  <script src="{% static  'base/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static  'base/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static  'base/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static  'base/js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'base/vendor/datatables/jquery.dataTables.min.js'%}"></script>
  <script src="{% static 'base/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <script src="{% static 'base/vendor/jquery_confirm/jquery-confirm.min.js' %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table-locale-all.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

    <!-- Page level plugins -->
    <script src="{% static 'base/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'base/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'base/js/demo/chart-pie-demo.js' %}"></script>

    <script>
        var resizefunc = [];
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();
            });
            },
            /*  Tiempo 10s */
            10000);
    </script>

        <script>
        $('[data-row-location]').click(function () {
            window.location = $(this).data('rowLocation');
        });
        $(document).ready(function() {
            $('.table').DataTable({
                /*dom: 'Bfrtip',
                buttons: ['copy','csv' ,'pdf','excel'],*/


                aLengthMenu: [[5, 10, 15, -1], [5, 10, 15, "Todos"]],
                iDisplayLength: 5,
                responsive: true,
                language: {
                        "lengthMenu": "Mostrar _MENU_ Entrada",
                        "zeroRecords": "No se encontraron resultados en su busqueda",
                        "searchPlaceholder": "",
                        "info": "Mostrando registros de _START_ al _END_ de un total de  _TOTAL_ registros",
                        "infoEmpty": "No existen registros",
                        "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "search": "Buscar:",
                        "paginate": {
                            "first": "Primero",
                            "last": "Último",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        },
                         "Aria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                             "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                         },

                        "decimal": ",", /*Decimal*/
                        "thousands": ".",/*Mil*/
                        /*"scrollY": 200,
                        "scrollX": true*/
                    }
            });
        });



    </script>


    <script>
      $(document).ready(function () {
          jQuery.datetimepicker.setLocale('es');
      });
  </script>
{% endblock js %}