{% extends "index.html" %}
{% load staticfiles %}

{% block title %} Urbanizacion {% endblock title %}

{% block page-title %}
    <!-- row -->
    <div class="row mb-1">
        <div class="col-sm-6">
            <h5 class="m-0 text-dark">Urbanizacion &nbsp;
            <a class="btn btn-success" href="{% url 'contrato:listar_urbanizacion' %}">
                    <i class="fas fa-plus"></i> Agregar</a>
            </h5>
        </div><!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'usuario:dashboard' %}">Dasboard</a></li>
                <li class="breadcrumb-item active"> Urbanizacion </li>
            </ol>
        </div><!-- /.col -->
    </div>
    <!-- /.row -->
{% endblock page-title %}

{% block contenido %}
{% for urbanizacion in list_urbanizacion %}
    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Informacion Urbanizacion</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Opciones:</div>
                      <a class="dropdown-item" href="#">Modificar</a>
                      <a class="dropdown-item" href="#">Ubicacion</a>
                        <a class="dropdown-item" href="#">Agregar Cuenta Bancaria</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'contrato:reporte_contrato' %}">Modelo Contrato</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                      <!-- Main content -->
                        <section class="invoice">
                          <!-- title row -->
                          <div class="row">
                            <div class="col-xs-12">
                              <h2 class="page-header">
                                  <img src="{% static 'favicon.ico' %}" alt="PyERP" style="opacity: .8; margin-left: 10px;" height="25px" >
                                  <strong> {{ urbanizacion.nombreubanizacion }} </strong>
                                  <small class="pull-right">
                                  </small>
                              </h2>
                            </div>
                            <!-- /.col -->
                          </div>
                          <!-- info row -->
                          <div class="row invoice-info">
                            <div class="col-sm-6 col-xs-6 invoice-col">
                              Nombre
                              <address>
                                <strong>Urbanizacion.</strong><br>
                                  Propietario(a)<br>
                                  Derechos Reales bajo la Matricula Computarizada<br>
                                  Direccion<br>
                                  Ubicacion<br>
                                  Telefono<br>
                                  Email
                              </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-6 col-xs-6 invoice-col">
                              Detalle
                              <address>
                                <strong>{{ urbanizacion.nombreubanizacion }}</strong><br>
                                  {{ urbanizacion.propietaria.persona.nombrepersona|default_if_none:"" }}
                                  {{ urbanizacion.propietaria.persona.paternopersona|default_if_none:"" }}
                                  {{ urbanizacion.propietaria.persona.maternopersona|default_if_none:"" }}
                                  <br>
                                  {{ urbanizacion.numeromatricula }}<br>
                                  795 Folsom Ave, Suite 600<br>
                                  San Francisco, CA 94107<br>
                                  539-1037<br>
                                  urbanizacion@admin.com
                              </address>
                            </div>
                          </div>
                          <!-- /.row -->
                        </section>
                      <!-- /.content -->


                </div>
              </div>
        </div>

    </div>
    <!-- Content Row -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
            <!--div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div-->
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        {% for field in fields %}
                            <th>{{ field.string }}</th>
                        {% endfor %}
                    </tr>
                  </thead>
                  <!--tfoot>
                    <tr>
                        {% for field in fields %}
                            <th>{{ field.string }}</th>
                        {% endfor %}
                    </tr>
                  </tfoot-->
                  <tbody>
                  {% with list_cuenta=urbanizacion.cuentas.all %}
                      {% include "sigetebr/apps/contrato/cuenta/include/cuenta_listar.html" %}
                  {% endwith %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
    <!-- DataTales -->
{% endfor %}
{% endblock contenido %}