/*
@media print and (orientation: portrait) {
}

@media print and (orientation: landscape) {
}
*/

/*
@page :left {
 margin-left: 2cm;
 margin-right: 2cm;
}
@page :right {
 margin-left: 2cm;
 margin-right: 2cm;
}
@page :first {
 margin-top: 3cm;
 margin-bottom: 3cm;
}
*/

/*
@page {
    size: auto;
    margin: 1cm;
    margin: 11mm 17mm 17mm 17mm;
}

@media print {
  footer {
    position: fixed;
    bottom: 0;
  }
}
*/

footer {
  font-size: 9px;
  color: #f00;
  text-align: center;
}

@page {
  size: A4;

  margin: 11mm 17mm 17mm 17mm;
}

@media print {
  footer {
    position: fixed;
    bottom: 0;
  }

  .content-block, p {
    page-break-inside: avoid;
  }

  html, body {
    width: 210mm;
    line-height: 1.5em;
    height: 297mm;
  }
}

p {
  font-family: Arial, Helvetica, sans-serif;
}